$primary-button-color: #3498db;

button {
  background-color: $primary-button-color;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: darken($primary-button-color, 10%);
  }
}
.color-picker {
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px 1px, rgb(0 0 0 / 15%) 0px 8px 16px;
  margin: auto;
  margin-bottom: 3em;
}
